# BigQuery Configuration
GCP_PROJECT_ID=<your-gcp-project-id>
GCP_SERVICE_ACCOUNT_TYPE=service_account
GCP_PRIVATE_KEY_ID=<key-id>
GCP_PRIVATE_KEY=<private-key>
GCP_CLIENT_EMAIL=<service-account-email>
GCP_CLIENT_ID=<client-id>
GCP_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GCP_TOKEN_URI=https://oauth2.googleapis.com/token
GCP_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GCP_CLIENT_CERT_URL=<cert-url>

# Cube Configuration
CUBE_API_SECRET=<your-secret-key>
CUBE_LOG_LEVEL=warn
